p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

body.is-open {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1200px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__heading {
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .section__heading {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__heading {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--normal {
  color: #000;
}
.logo--negative {
  color: #fff;
}
.logo--accent {
  color: #2196f3;
}

.hover--accent:hover,
.hover--accent:focus {
  color: #2196f3;
}

.transition--color {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transition--background {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transition--shadow {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transition--opacity {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transition--transform {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transition--scale {
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
}
.button__standard {
  min-width: 200px;
  min-height: 50px;
  background-color: #2196f3;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button__standard:hover, .button__standard:focus {
  background-color: #188ce8;
}

.socials {
  display: flex;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.socials__link:hover, .socials__link:focus {
  color: #fff;
  background-color: #2196f3;
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.socials__header {
  color: #afb1b8;
}
.socials__footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.header {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 768px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: inherit;
    width: 100%;
  }
}
.navigation-mobile__block {
  display: inherit;
}
@media screen and (max-width: 768px) {
  .navigation-mobile__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}
@media screen and (min-width: 768px) {
  .navigation-mobile__block {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-mobile__block {
    margin-right: 93px;
  }
}
@media screen and (max-width: 768px) {
  .navigation-mobile__logo.is-open {
    opacity: 0;
  }
}
.navigation-mobile__menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navigation-mobile__menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: currentColor;
  }
}
@media screen and (max-width: 768px) {
  .navigation-mobile__menu:hover, .navigation-mobile__menu:focus {
    color: #2196f3;
  }
  .navigation-mobile__menu .icon-close {
    display: none;
  }
  .navigation-mobile__menu.is-open .icon-close {
    display: block;
  }
  .navigation-mobile__menu .icon-menu {
    display: block;
  }
  .navigation-mobile__menu.is-open .icon-menu {
    display: none;
  }
}
.navigation-mobile__content {
  display: inherit;
}
@media screen and (max-width: 768px) {
  .navigation-mobile__content {
    position: absolute;
    viewport-fit: 0;
    top: calc(100% - 18px);
    left: 0;
    width: 100%;
    height: calc(100vh - 42px);
    height: calc(var(--vh, 1vh) * 100 - 42px);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    background-color: #fff;
  }
  .navigation-mobile__content.is-open {
    opacity: 1;
    pointer-events: all;
  }
}
@media screen and (min-width: 768px) {
  .navigation-mobile__content {
    width: 100%;
  }
}
.navigation__grid {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .navigation__grid {
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 768px) {
  .navigation__grid {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link::after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    top: 45px;
    background-color: #2196f3;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover::after, .navigation__link:focus::after {
    opacity: 100%;
  }
}

@media screen and (min-width: 768px) {
  .current {
    color: #2196f3;
  }
  .current.navigation__link::after {
    opacity: 100%;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}
.contacts__list {
  display: flex;
}
@media screen and (max-width: 768px) {
  .contacts__list {
    flex-direction: column;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    flex-direction: column;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .contacts__list li:first-child {
    order: 2;
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts__list li:first-child {
    margin-bottom: 10px;
  }
}
.contacts__email {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (max-width: 768px) {
  .contacts__email {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .contacts__email {
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__email {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__email::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-color: currentColor;
    -webkit-mask-image: url(../images/envelope.svg);
    mask-image: url(../images/envelope.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__email:hover, .contacts__email:focus {
    color: #2196f3;
  }
}
.contacts__phone {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  .contacts__phone {
    font-size: 32px;
    line-height: 1.18;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .contacts__phone {
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__phone {
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 768px) {
  .contacts__phone::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-color: currentColor;
    -webkit-mask-image: url(../images/smartphone.svg);
    mask-image: url(../images/smartphone.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__phone:hover, .contacts__phone:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .mobile-socials {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile-socials {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-bottom: 42px;
    color: #2196f3;
  }
  .mobile-socials__item {
    display: inherit;
    align-items: center;
  }
  .mobile-socials__item:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 0px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin: 0 10px;
  }
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-480-1x.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 192dpi), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-480-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-768-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-768-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-1600-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg-1600-2x.jpg);
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    min-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
  }
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding: 118px 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding: 200px 452px;
  }
}
.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}
@media screen and (max-width: 1200px) {
  .benefits {
    margin-bottom: -30px;
  }
}
.benefits__item {
  margin-left: 30px;
}
@media screen and (max-width: 1200px) {
  .benefits__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .benefits__item {
    flex-basis: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    flex-basis: calc(25% - 30px);
  }
}
.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10px;
}
.benefits__title::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.benefits--antenna::before {
  background-image: url(../images/antenna.svg);
}
.benefits--clock::before {
  background-image: url(../images/clock.svg);
}
.benefits--diagram::before {
  background-image: url(../images/diagram.svg);
}
.benefits--astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.benefits__description {
  line-height: 1.71;
  color: #757575;
  width: 270px;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}
.work__grid {
  display: flex;
  justify-content: center;
  margin-left: -30px;
}
.work__item {
  position: relative;
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}
.work__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background: #f5f4fa;
}
.team__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}
@media screen and (max-width: 1200px) {
  .team__grid {
    margin-bottom: -30px;
  }
}
.team__card {
  background: #fff;
  margin-left: 30px;
  border-radius: 0 0 4px 4px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1200px) {
  .team__card {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .team__card {
    flex-basis: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    flex-basis: calc(25% - 30px);
  }
}
.team__image {
  margin-bottom: 30px;
  width: 100%;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.clients__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}
@media screen and (max-width: 1200px) {
  .clients__grid {
    margin-bottom: -30px;
  }
}
.clients__item {
  display: inherit;
  margin-left: 30px;
  height: 92px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .clients__item {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .clients__item {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(16.6666666667% - 30px);
  }
}
.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.clients__image {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__grid {
  display: flex;
}
@media screen and (max-width: 768px) {
  .footer__grid {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__grid {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer__grid {
    flex-wrap: nowrap;
    justify-content: initial;
    align-items: baseline;
  }
}
@media screen and (max-width: 1200px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .footer__title {
    text-align: center;
  }
}

.footer-contacts {
  margin-top: 20px;
  font-style: inherit;
}
@media screen and (max-width: 1200px) {
  .footer-contacts {
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
    width: 231px;
  }
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.contrast {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    display: inline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: auto;
  }
}
.footer-subscribe__title {
  margin-bottom: 20px;
}
.footer-subscribe__form {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .footer-subscribe__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer-subscribe__input {
  height: 50px;
  padding: 15px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .footer-subscribe__input {
    width: 94vw;
    max-width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-subscribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-subscribe__input:focus {
  outline: none;
}
.footer-subscribe__button {
  box-shadow: none;
}
.footer-subscribe__button::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-color: #fff;
  -webkit-mask-image: url(../images/send.svg);
  mask-image: url(../images/send.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  padding: 40px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
  .modal {
    width: 94vw;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
  }
}
.backdrop.is-hidden .modal {
  scale: 0;
}
.modal__close {
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  fill: currentColor;
}
.modal__close:hover, .modal__close:focus {
  color: #2196f3;
}
.modal__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal-form {
  display: inherit;
  flex-direction: column;
}
.modal-form__item {
  position: relative;
  display: inherit;
  flex-direction: inherit;
  margin-bottom: 10px;
}
.modal-form__item input {
  padding-left: 42px;
}
.modal-form__item svg {
  position: absolute;
  top: 31px;
  left: 12px;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form__input {
  position: relative;
  height: 40px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
}
.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}
.modal-form__input:focus + svg {
  fill: #2196f3;
}
.modal-form__textarea {
  resize: none;
  height: 120px;
  margin-bottom: 20px;
}
.modal-form__textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__agreement {
  margin-bottom: 30px;
  text-align: center;
}
.modal-form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.modal-form__customCheckbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-image: url(../images/boxuncheck.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form__checkbox:checked + .modal-form__customCheckbox {
  background-image: url(../images/boxcheck.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form__checkbox:focus.modal-form__checkbox:not(:checked) + .modal-form__customCheckbox {
  background: none;
  background-color: #2196f3;
  -webkit-mask-image: url(../images/boxuncheck.svg);
  mask-image: url(../images/boxuncheck.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
.modal-form__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  word-wrap: normal;
  color: #757575;
}
@media screen and (max-width: 1200px) {
  .modal-form__text {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form__link {
  color: #2196f3;
}
.modal-form__button {
  margin: 0 auto;
}

.portfolio {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (max-width: 1200px) {
  .portfolio {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    justify-content: center;
  }
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 1200px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 15px;
  }
}
.portfolio__button {
  background: #f5f4fa;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.portfolio__button:hover, .portfolio__button:focus, .portfolio__button.selected {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.projects__card {
  margin-left: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .projects__card {
    flex-basis: calc(100% - 30px);
  }
}
@media screen and (min-width: 768px) {
  .projects__card {
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .projects__card {
    flex-basis: calc(33.3333333333% - 30px);
  }
}
.projects__link {
  display: block;
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__window {
  position: relative;
  overflow: hidden;
}
.projects__image {
  width: 100%;
}
.projects__overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  transform: translatey(101%);
}
.projects__link:hover .projects__overlay {
  transform: translatey(0%);
}
.projects__text {
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects__description {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */