.clients {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    @media screen and (max-width: $desktop) {
      margin-bottom: -30px;
    }
  }

  &__item {
    display: inherit;

    margin-left: 30px;
    height: 92px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $desktop) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: $tablet) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: $tablet) {
      flex-basis: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc(100% / 6 - 30px);
    }
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $element__color;
    border: 1px solid $element__color;
    border-radius: 4px;
  }

  &__link:hover,
  &__link:focus {
    color: $accent__main;
    border-color: $accent__main;
  }

  &__image {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
