.team {
  background: $background__trietary;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -30px;
    @media screen and (max-width: $desktop) {
      margin-bottom: -30px;
    }
  }

  &__card {
    background: $background__primary;
    margin-left: 30px;
    border-radius: 0 0 4px 4px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: $desktop) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: $tablet) {
      flex-basis: calc(100% / 1 - 30px);
    }
    @media screen and (min-width: $tablet) {
      flex-basis: calc(100% / 2 - 30px);
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc(100% / 4 - 30px);
    }
  }

  &__image {
    margin-bottom: 30px;
    width: 100%;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: $text__secondary;
    margin-bottom: 16px;
  }
}
