body {
  font-family: $font-main;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $text__primary;
}

body.modal-open {
  overflow: hidden;
}

body.is-open {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  @media screen and (max-width: $desktop) {
    padding-top: $padding__mobile;
    padding-bottom: $padding__mobile;
  }

  @media screen and (min-width: $desktop) {
    padding-top: $padding__common;
    padding-bottom: $padding__common;
  }

  &__heading {
    font-weight: 700;
    text-align: center;

    @media screen and (max-width: $desktop) {
      font-size: 28px;
      line-height: 1.18;
      margin-bottom: $margin__mobile;
    }

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.17;
      margin-bottom: $margin__common;
    }
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &--normal {
    color: $logo__header;
  }

  &--negative {
    color: $logo__footer;
  }

  &--accent {
    color: $logo__primary;
  }
}

.hover--accent:hover,
.hover--accent:focus {
  color: $accent__main;
}
