$font-main: "Roboto", sans-serif;

$logo__primary: #2196f3;
$text__primary: #212121;
$text__secondary: #757575;
$accent__main: #2196f3;
$button__hover: #188ce8;
$background__primary: #fff;
$background__secondary: #2f303a;
$background__trietary: #f5f4fa;
$logo__header: #000;
$logo__footer: #fff;
$color__negative: #fff;
$element__color: #afb1b8;
$header__underline: #ececec;
$footsocial_background: rgba(255, 255, 255, 0.1);
$portborder_color: #eee;

$padding__common: 94px;
$margin__common: 50px;
$button__height: 50px;
$button__width: 200px;
